<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>38022458777-o5b509ubnp7ekitmg2cnqnmtlkqmc5e8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.38022458777-o5b509ubnp7ekitmg2cnqnmtlkqmc5e8</string>
	<key>API_KEY</key>
	<string>AIzaSyC0tBI3omlsgdfkw74I4nSN_6R8Q_yePYs</string>
	<key>GCM_SENDER_ID</key>
	<string>38022458777</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.CoreaFlamenco.CoreaFlamencoIOS</string>
	<key>PROJECT_ID</key>
	<string>coreaflamencoinfo-6e556</string>
	<key>STORAGE_BUCKET</key>
	<string>coreaflamencoinfo-6e556.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:38022458777:ios:74efe44e2eb1cd14</string>
	<key>DATABASE_URL</key>
	<string>https://coreaflamencoinfo-6e556.firebaseio.com</string>
</dict>
</plist>